@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --background-color: #d7ccc8;
  --font-family: "Roboto", sans-serif;
  --font-size-base: 20px;
}

body {
  font-family: var(--font-family);
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  position: relative;
  max-width: 800px; /* Increased width for better display of course list */
  margin: 0 auto;
  padding: 50px; /* Reduced padding for less whitespace */
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.form-title {
  font-size: calc(var(--font-size-base) * 1.5);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.course-list {
  margin-top: 20px;
}

.course-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.course-title {
  font-size: calc(var(--font-size-base) * 1.2);
  color: #333;
}

.course-description {
  font-size: var(--font-size-base);
  margin-top: 5px;
}

.course-level {
  font-size: var(--font-size-base);
  color: #666;
  display: block; /* Ensures it appears on a new line */
  margin-top: 10px;
}

.course-actions {
  margin-top: 10px;
}

.button {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  outline: 0;
  border: 0;
  padding: 15px; /* Slightly reduced padding for a less bulky appearance */
  margin-right: 10px; /* Space between buttons */
  background-color: #ff5722;
  color: #fafafa;
  text-transform: uppercase;
  cursor: pointer;
}
